* {
    display:block;
    box-sizing: border-box; }


body {
    background-color: lightblue;
    margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p, .col-sm-4, {
    margin: 10px;
    padding: 10px;
}

.navbar-brand {
    text-align: left;
}

.row1 {
    background-color: aqua;
}

.fa {
        padding: 20px;
        font-size: 20px;
        width: 200px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      
.fa-linkedin {
        background: #007bb5;
        color: white;
     
    }

.fa-github
{
    background-color: rgb(24, 23, 23);
    color: beige;  
}
    .footer {
        position: sticky;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: green;
        text-align: center;
     }
.buttonHolder { 
    text-align: center;  
}
/*
* {
    display:block;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;

}

html, body, container {
    height: 100%;
}

#container {
    min-height: 100%;

}

.brand1, .navbar-header{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 20px;
}

.footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both

}
*/